@page "/fetchdata"
@using PodTube.Shared.Models.DTO;
@inject HttpClient Http
@inject NavigationManager MyNavigationManager

<PageTitle>Video Info test page</PageTitle>

<h1>Video Info test page</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (videos == null) {
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Thumbnail URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in videos) {
                <tr>
                    <td>@video.Id</td>
                    <td>@video.Name</td>
                    <td>@video.Description</td>
                    <td>
                        <img src="@(MyNavigationManager.BaseUri + video.Cover)">
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private VideoDto[]? videos;

    protected override async Task OnInitializedAsync()
    {
        videos = await Http.GetFromJsonAsync<VideoDto[]>("video");
    }
}
