@page "/video/{videoId}"
@using PodTube.Shared.Models.DTO;
@using PodTube.Client.Components.Shared
@using PodTube.Client.Components.Videos.VideoPlayer
@using PodTube.Client.Components.Videos.VideoList
@using PodTube.Client.Rest;
@inject NavigationManager Navigator
@inject HttpClient httpClient
@inject RestHelper RestHelper
<div class="video">
    <MudPaper Height="111" Class="my-2">
        <PodTubeVideoPlayer Video="video" Placeholder="@video.Thumbnail"></PodTubeVideoPlayer>
    </MudPaper>
</div>
<div class="info">
    <MudPaper Class="pa-2 ">
        <VideoInfo Video="video"></VideoInfo>
    </MudPaper>
</div>


@code {
    [Parameter]
    public string videoId { get; set; } = "";

    private VideoDto video = new();

    private VideoApiClient? client;

    protected override async Task OnInitializedAsync() {
        client = new VideoApiClient(Navigator.BaseUri, httpClient);
        await RestHelper.MakeSafeRestCall(
            async () =>
            {
                video = await client.GetVideoByIdAsync(Int64.Parse(videoId));
            }
        );
    }
}
